REACT_APP_SUPABASE_URL=https://bdtxkmnmmnpbvzzhpcdv.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkdHhrbW5tbW5wYnZ6emhwY2R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NjQzMzgsImV4cCI6MjA5MzE0MDMzOH0.I4SJBybqlJWu1_USa3yN4wqXo70Vr_J2qBk-wtTyXbE